.div {
    background-color: aquamarine;
    transition: "background-color 350ms ease";
    position: absolute;
    right: -30px;
    left: -30px;
    top: 0px;
    border: 1px solid olive;
    padding: 5px;
}
.table {
    width: 100%;
}
.img {
    width: 20px;
}
.tr {
    line-height: 30px;
}
.p {
    padding: 0 5px;
}
