.table {
    padding: 20px;
    width: 850px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid olive;
}
.img {
    max-width: 50px;
}
.empty {
    margin: 20px;
}
.input {
    height: 25px;
}
.inputBtn {
    height: 31px;
}
.td {
    text-align: left;
    padding-left: 75px;
    height: 40px;
}